.main_heading {
    color: #c50b78;
    
    h1{color: #840bc5;purple;
        text-align: center;
        }
    
    p{font-family: 'Courier New', Courier, monospace;
        font-size: medium 20px;}
    
}








    